<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Navegação</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['users']" routerLinkActive="router-link-active">
        <mat-icon class="tb-icon">people</mat-icon>
        Usuários
      </a>
      <a mat-list-item [routerLink]="['products']" routerLinkActive="router-link-active">
        <mat-icon class="tb-icon">folder_open</mat-icon>
        Produtos
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon class="tb-icon">local_grocery_store</mat-icon>
        Ir para loja
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer">Dashboard</span>
      <span *ngIf="!(isHandset$ | async)">{{user.name}}</span>
      <button mat-button (click)="signOut()">
        <mat-icon class="exit-icon">exit_to_app</mat-icon>
        Sair
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <header>
  <h1>Desenvolvimento Web com JavaScript</h1>
</header>
<div>
  <aside>
    <button (click)="signOut()">Sair do sistema</button>
    <div>
      <h3>Navegação</h3>
      <a *ngFor="let page of pages" [routerLink]="[page.path]" routerLinkActive="active">
        {{page.text}}
      </a>
    </div>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->